body, td, th, ul, li {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.find_nav {
    width: 100%;
    height: 60px;
    background-color: #f9f9f9;
    position: fixed;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid #ddd;
    display: -moz-box;
    display: -webkit-box;
    display: block;
}

.find_nav_left {
    height: 60px;
    position: relative;
    overflow: hidden;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.find_nav_list {
    position: absolute;
    left: 0;
}

.find_nav_list ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    /*margin-left:20px;*/
}

.find_nav_list ul li {
    display: inline-block;
    padding: 0;
    margin-right:40px;
    width: 85px;
}

.find_nav_list ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    color: #666;
}

.find_nav_cur a {
    color: #48a5f4 !important;
}

.find_nav_list a.active {
    color: #C00
}

.sideline {
    display: block;
    position: absolute;
    border: 0;
    height: 2px;
    background-color: #48a5f4;
    left: 20px;
    top: 58px;
    pointer-events: none;
    width: 85px!important;

}
.li_list {
    height: 676px!important;
    overflow-y: auto;
    display: table;
    background-color: #f4f4f4 !important;
}

/*将每个li封闭成一个盒子，就可以独立每个li内的内容*/
/*
.li_list span {
    position: relative;
    display: block;
    height: 120px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    color: #0c0c0c;
    margin: 4px 0px;
    font-size: 16px;
    line-height:120px;
    text-align: center
}
*/

.swipe {
    padding: 60px 0 0 0;
}

/*自己的样式*/
.img_l{
    position: absolute;
    top: 22px;
    left: 10px;
}
.img_big{
    padding-top:10px;
    width: 380px;
    height: 180px;
}
.text_l{
    width: 260px;
    height: 60px;
    margin-top:30px;
    margin-left:92px;
    line-height:30px;
    text-align: left;
    overflow-wrap: break-word;
}



body{background-color: #f3f3f3
}
*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.slide{
/*    width: 100%;*/
    min-height: 180px;
    overflow: hidden;
    position: relative;
   padding: 0 5px;

}
.slide .img{
    overflow: hidden;
    position: absolute;
    transition: width 0.4s,height 0.4s,top 0.4s,left 0.4s,z-index 0.4s;
}
.slide .img img{
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    margin: 7px;
}
.slide .img1{
    width: 40%;
    height: 40%;
    top: 30%;
    left: -50%;
    z-index: 1;
}
.slide .img2{
    width: 60%;
    height: 60%;
    top: 20%;
    left: -20%;
    z-index: 2;
}
.slide .img3{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    z-index: 3;
}
.slide .img4{
    width: 60%;
    height: 60%;
    top: 20%;
    left: 60%;
    z-index: 2;
}
.slide .img5{
    width: 40%;
    height: 40%;
    top: 30%;
    left: 110%;
    z-index: 1;
}
.slide-bt{
    position: absolute;
    left: 50%;
    bottom: 13%;
    z-index: 10;
}
.slide-bt span{
    width: 24px;
    height: 8px;
    background: #c9caca;
    float: left;
    margin: 5px;
    border-radius: 4px;
}
.slide .slide-bt .on{
    background: #ffd200;
}
button{
    width: 50px;
    margin: 20px;
}
